//************  buttons

.btn_v1 {
  height: 60px;

  &.offer_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    padding: 15px 30px;
    font: 22px/30px $RALEWAYSEMIBOLD;
    text-align: center;

    span {

    }
  }
}

.btn_v2 {
  height: 47px;

  &.subscribe_btn {
    display: block;
    width: 100%;
    padding: 10px;
    font: 16px/23px $RALEWAYSEMIBOLD;
    text-align: center;
    border-radius: 30px;
  }
}

.green_btn {
  @include transition_all(background .3s);
  color: #fff;
  background: #60cc69;
  border-bottom: 4px solid #489f50;

  &:hover {
    background: #489f50;
  }
}

.white_green_btn {
  @include transition_all(background .3s, color .3s);
  color: #60cc69;
  background: #fff;
  border: 2px solid #60cc69;

  &:hover {
    background: #60cc69;
    color: #fff;
  }
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

._w_100 {
  width: 100%;
}