@font-face {
    font-family: 'KIYESANS';
    src: url(../fonts/KIYE-SANS_0.eot);
    src: url(../fonts/KIYE-SANS_0.eot?#iefix) format("embedded-opentype"),
    url(../fonts/KIYE-SANS_0.woff) format("woff"),
    url(../fonts/KIYE-SANS_0.ttf) format("truetype"),
    url(../fonts/KIYE-SANS_0.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RALEWAYTHIN';
    src: url(../fonts/RALEWAY-THIN.eot);
    src: url(../fonts/RALEWAY-THIN.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RALEWAY-THIN.woff) format("woff"),
    url(../fonts/RALEWAY-THIN.ttf) format("truetype"),
    url(../fonts/RALEWAY-THIN.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RALEWAYSEMIBOLD';
    src: url(../fonts/RALEWAY-SEMIBOLD.eot);
    src: url(../fonts/RALEWAY-SEMIBOLD.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RALEWAY-SEMIBOLD.woff) format("woff"),
    url(../fonts/RALEWAY-SEMIBOLD.ttf) format("truetype"),
    url(../fonts/RALEWAY-SEMIBOLD.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RALEWAYREGULAR';
    src: url(../fonts/RALEWAY-REGULAR.eot);
    src: url(../fonts/RALEWAY-REGULAR.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RALEWAY-REGULAR.woff) format("woff"),
    url(../fonts/RALEWAY-REGULAR.ttf) format("truetype"),
    url(../fonts/RALEWAY-REGULAR.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RALEWAYMEDIUM';
    src: url(../fonts/RALEWAY-MEDIUM.eot);
    src: url(../fonts/RALEWAY-MEDIUM.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RALEWAY-MEDIUM.woff) format("woff"),
    url(../fonts/RALEWAY-MEDIUM.ttf) format("truetype"),
    url(../fonts/RALEWAY-MEDIUM.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RALEWAYLIGHT';
    src: url(../fonts/RALEWAY-LIGHT.eot);
    src: url(../fonts/RALEWAY-LIGHT.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RALEWAY-LIGHT.woff) format("woff"),
    url(../fonts/RALEWAY-LIGHT.ttf) format("truetype"),
    url(../fonts/RALEWAY-LIGHT.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RALEWAYBOLD';
    src: url(../fonts/RALEWAY-BOLD.eot);
    src: url(../fonts/RALEWAY-BOLD.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RALEWAY-BOLD.woff) format("woff"),
    url(../fonts/RALEWAY-BOLD.ttf) format("truetype"),
    url(../fonts/RALEWAY-BOLD.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

