include mixins.pug
doctype html
html(lang='ru')
    +dev_head('hyperlee главная')

    body
        .wrapper
            .base
                +header()
                
                .main_content
                    .section_inner
                        .section_caption.text_center 
                            span Передовые карты для
                            br
                            span.fz_45 машинного обучения
                            
                        ul.link_list.text_center
                            li: a.menu_link(href='#')
                                span.link_text Тарифы
                            li: a.menu_link(href='#')
                                span.link_text Сравнение карт
                            li: a.menu_link(href='#')
                                span.link_text Мероприятия
                            li: a.menu_link(href='#')
                                span.link_text Для студентов

                        .offer_list_holder: ul.offer_list
                            li
                                input.hide(type='checkbox')
                                .offer_unit: .unit_inner
                                    .offer_img
                                        img(src='i/icon_x.png')
                                    .offer_name 
                                        span Hyperlee
                                        span.fw_b X
                                        
                                    .offer_gpu Nvidia GTX 1060
                                    .offer_cpu Intel Core i5 7600K,64 гб ОЗУ,480 гб SSD
                                    .offer_tip Бюджетный вариант. <br> Хорошо подходит для работы в Kaggle
                                    .offer_price
                                        span 300 
                                        span._rub  &#x413;
                                    .offer_tip
                                        span.fz_16 в день
                                        
                                    .offer_control
                                        a.btn_v1.green_btn.offer_btn(href='#')
                                            span.fw_b Подключить 
                                            span.fz_16  в 2 клика 
                                            
                            li
                                input.hide(type='checkbox')
                                .offer_unit._main: .unit_inner
                                    .offer_img
                                        img(src='i/icon_xl.png')
                                    .offer_name 
                                        span Hyperlee
                                        span.fw_b XL
                                        
                                    .offer_gpu Nvidia GTX 1080
                                    .offer_cpu Intel Core i5 7600K,64 гб ОЗУ,480 гб SSD
                                    .offer_tip Лучшее соотношение цены <br> и качества

                                    .offer_price
                                        span 450 
                                        span._rub  &#x413;
                                    .offer_tip
                                        span.fz_16 в день
                                        
                                    .offer_control
                                        a.btn_v1.green_btn.offer_btn(href='#')
                                            span.fw_b Подключить 
                                            span.fz_16  в 2 клика 
                                            
                            li
                                input.hide(type='checkbox')
                                .offer_unit: .unit_inner
                                    .offer_img
                                        img(src='i/icon_xxl.png')
                                    .offer_name 
                                        span Hyperlee
                                        span.fw_b XXL
                                        
                                    .offer_gpu Nvidia Titan X Pascal
                                    .offer_cpu Intel Core i5 7600K,64 гб ОЗУ,480 гб SSD
                                    .offer_tip Лучшая карта для машинного <br> обучения

                                    .offer_price
                                        span 850 
                                        span._rub  &#x413;
                                    .offer_tip
                                        span.fz_16 в день
                                        
                                    .offer_control
                                        a.btn_v1.green_btn.offer_btn(href='#')
                                            span.fw_b Подключить 
                                            span.fz_16  в 2 клика 
                                            
                    .section.section_v2
                        .section_inner
                            .individual_offer
                                p 
                                    | Если вам нужна индивидуальная конфигурация сервера <br> позвоните 
                                    a.fw_b.clr_green(href='tel:+74951033040')  7 495 103-30-40 
                                    |  и мы подключим его вам в кратчайшие сроки
                        
                                
                    .section.section_v3
                        .section_inner
                            .text_center
                                a.scroll_down(href='#')
                                    img(src='i/scroll_down.png')
                                    
                            .section_caption.text_center
                                span.fz_35 Заказывайте все необходимые <br> вычислительные ресурсы в одном месте
                    .section.section_v4
                        .section_inner.clearfix
                            .col_splitter
                            .col._left
                                +col_left()
                                
                            .col._center
                                +product_offer()
                                
                            .col._right
                                +col_right()
                                

            +footer()
