include mixins.pug
doctype html
html(lang='ru')
    +dev_head('hyperlee главная')

    body
        .wrapper
            .base
                +header()
                
                .main_content
                    .section_inner
                        .section_caption.text_center 
                            span Передовые карты для
                            br
                            span.fz_45 машинного обучения

                    +study()
                        
                    .section.section_v2
                        .section_inner
                            .individual_offer
                                p 
                                    | Если вам нужна индивидуальная конфигурация сервера <br> позвоните 
                                    a.fw_b.clr_green(href='tel:+74951033040')  7 495 103-30-40 
                                    |  и мы подключим его вам в кратчайшие сроки
                        
                                
                    .section.section_v3
                        .section_inner
                            .text_center
                                a.scroll_down(href='#')
                                    img(src='i/scroll_down.png')
                                    
                            .section_caption.text_center
                                span.fz_35 Заказывайте все необходимые <br> вычислительные ресурсы в одном месте
                    .section.section_v4
                        .section_inner.clearfix
                            .col_splitter
                            .col._left
                                +col_left()
                                
                            .col._center
                                +product_offer()
                                
                            .col._right
                                +col_right()
                                
            +footer()
